@font-face {
  font-family: aight;
  src: local("aight"),
       local("aight"),
       url(aight.ttf);
  font-weight: bold;
}

div#mp3_player{ width:500px; height:60px; background:#000; padding:5px; margin:50px auto; }
div#mp3_player > div > audio{  width:500px; background:#000; float:left;  }
div#mp3_player > canvas{ width:500px; height:30px; background:#002D3C; float:left; }

h1 {
    font-family: 'aight';
    color: #ead06c;
    font-size: 65px;
    text-align: center;
    font-weight: normal;
}

p, #log, #final-word, #rhymes {
    font-family: 'Roboto Condensed';
    color: #ead06c;
    font-size: 18px;
    text-align: center;
}

#typed {
    font-family: 'Roboto Condensed';
    color: #ead06c;
    font-size: 70px;
}

span {
    margin-left: auto;
    margin-right: auto;
}

#Drake {
    position: absolute;
    left: 10px;
    top: 360px;
    z-index: -1;
}

#Cole {
    position: absolute;
    left: 760px;
    top: 350px;
    z-index: -1;
}

#Kanye {
    position: absolute;
    left: 890px;
    top: -20px;
    z-index: -1;
}

#Kendrick {
    position: absolute;
    left: 10px;
    top: 50px;
    z-index: -1;
}

#start {
	height: 50px;
	border-radius: 1px;
	border: 0px solid #ead06c;
	width: 120px;
	height: 70px;
	margin: auto;
	margin-top: 130px;
	text-align: center;
}

button {
    background: #ead06c;
    color: black;
    font-family: 'Roboto Condensed';
    font-size: 42px;
	font-weight: normal;
	width: 120px;
	height: 70px;
    line-height: 60px;
    margin: auto;
    text-align: center;
    border: 0px;
    opacity: 1;
    transition: all 0.2s ease 0.1s;
    cursor: pointer;
    outline: none;
}

button:hover {
	background: #ead06c;
    color: black;
    font-family: 'Roboto Condensed';
    font-size: 42px;
	font-weight: normal;
	width: 120px;
	height: 70px;
    line-height: 60px;
    margin: auto;
    text-align: center;
    border: 0px;
    transition: all 0.2s ease 0.1s;
    opacity: 0.6;
}

button:active {
    color: #ead06c;
    font-family: 'Roboto Condensed';
    font-size: 42px;
	font-weight: normal;
	background: black;
	border: 5px solid #ead06c;
	width: 120px;
	height: 70px;
	transition: all 0.05s ease 0.1s;
	opacity: 0.8;
}

div p {
	font-family: 'Roboto Condensed';
	color: #ead06c;
	font-size: 36px;
}

.typed-cursor {
    font-family: 'Roboto Condensed';
    color: #ead06c;
    font-size: 70px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
